*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
#menuSuperior{
    background-color: #303030;
    color: white;
    text-align-all: left;
    padding: 60px;
}
#tituloMenuSuperior{
    margin-top: 30px;
    font-size: 60px;
    font-weight: bold;
}
#paragrafoMenuSuperior{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
#menuInformacional{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    text-align: center;
    padding: 60px;

}
.tituloMenuInformacional{
    font-size: 40px;
    text-align: left;
    margin-left: 20%;
}
.paragrafoMenuInformacional{
    text-align: left;
    margin-left: 20%;
}
#secaoFoto{
    display: grid;
    grid-auto-flow: column;
    columns: auto;

    padding: 60px;
}
#tituloSecaoFoto{
    ;
    font-size: 40px;
    font-weight: normal;
}
#paragrafoSecaoFoto{
    margin-top: 30px;
    font-size: 20px;
}
#foto1{
    text-align: right;
}
#textoFoto{
    margin-top: 17%;
    margin-left: 12%;
    font-stretch: auto;
}
#secaoCadastro{
    color: white;
    background-color: #303030;
    text-align: center;
    padding-bottom: 200px;
}
#tituloCadastro01{
    margin-bottom: 25px;
    padding-top: 70px;
    font-weight: bolder;
    font-size: 28px;
}
.input{
    width: 340px;
    height: 45px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
}
button{
    margin-top: 20px;
    font-size: 19px;
    color: white;
    cursor:pointer;
    width: 200px;
    height: 47px;
    border-radius: 5px;
    border:none;
    background-color: #C07212;
}